body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 50px;
    padding-left: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
}

.intro {
    max-width: 600px;
    position: relative;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 0px; /* Adjust this value to place the dot where you want */
    transform: translateY(-50%);
}

.typing-container {
    display: inline-block;
}

h1 {
    font-size: 3em;
    margin: 0.5em 0;
}

.contacts a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

#typing-animation {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid #fff;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}
